.button{
    width: 50px;
    height: 32px; 
    padding: 0; 
}

.description{
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #dee2e6;
}

table{
    text-align: center;
    width: 900px;
}

.product .img{
    height: 120px;
    width: 60px;
}

.product .img img{
    height: 100%;
    width: auto;
}

.des{
    width: 100px;
    overflow: auto;
}

hr{
    margin: 10px;
}

.sua:hover{
    background-color: #1F3BB3;
    color: #fff;
    transition: 1s;
}

.xoa:hover{
    background-color: #F95F53;
    color: #fff;
    transition: 1s;
}