.button{
    width: 90px;
    height: 32px; 
    padding: 0; 
}

.description{
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.cover{
    background-color: #ccc;
}

.cover table{
    width: 85%;
    height: auto;
    padding: 10px;
    text-align: center;
}
table tbody tr td,
.cover table thead tr td{
    border: 1px solid black;
}

.cover table thead tr td{
    width: 33.333333%;
}

table tbody tr .img{
    height: 150px;
    width: 50px;
}

.img img{
    height: 100%;
    width: auto;
}

table tr .descr{
    width: 120px;
    overflow: auto;
}